.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  &:first-of-type {
    margin-top: -20px;
  }

  .category {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
  }
}
