$primary: #f9a109;
$secondary: #3f3d56;
$primary-button: #56ccf2;
$main-background: #edecec;
$secondary-background: #fff0de;
$white: white;
$lightgrey: #c1c1c4;
$red: red;
$text: #34333a;
$text-light: #828282;
$purple: #80485b;

$mobile: 400px;
$tablet: 768px;
$desktop: 1024px;
