@import "./constants.module.scss";

.container {
  width: 82%;
  background-color: $main-background;
  height: 100vh;
  flex: auto;
  overflow-y: auto;
  padding: 10% 3% 0 3%;
}

// @media (min-width: $desktop) {
//   .container {
//     width: calc(82% - 327.43px);
//   }
// }
