@import "./constants.module.scss";

.container {
  overflow-y: auto;
  height: 100vh;
  width: 389px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  right: 0%;
  box-shadow: 5px 0 5px -5px $secondary;
  background-color: $secondary-background;

  .itemsContainer {
    width: 100%;
    overflow-y: auto;
    margin-bottom: 105px;
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  @media (max-width: $tablet) {
    display: none;
  }
}
