@import "./constants.module.scss";

.container {
  height: 100vh;
  width: 389px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  right: 0%;
  box-shadow: 5px 0 5px -5px $secondary;
  background-color: $secondary-background;

  .itemsContainer {
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }

  @media (max-width: $tablet) {
    display: none;
  }
}
