@import "./constants.module.scss";

.container {
  height: 100vh;
  background-color: $white;
  width: 61.58px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 0 5px -5px $secondary;

  .logo {
    margin-top: 33px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary;
    border-radius: 50%;
  }

  .navItems {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 290px;
    width: 100%;

    .navItem {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 46px;
      width: 100%;

      &.active {
        border-radius: 0px 4px 4px 0px;
        border-left: 6px solid $primary;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin-bottom: 33px;
    background-color: $primary;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }

    .quantity {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 15px;
      width: 15px;
      position: absolute;
      bottom: 60px;
      left: 38px;
      background-color: $red;
      color: $white;
      font-size: 0.6rem;
      border-radius: 4px;
    }
  }
}

@media (min-width: $tablet-lg) {
  .container {
    width: 93.92px;

    .cart {
      .quantity {
        left: 45px;
      }
    }
  }
}
