.container {
  height: 100vh;
  background-color: white;
  width: 61.58px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 0 5px -5px #333;

  .logo {
    margin-top: 33px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f3d56;
    border-radius: 50%;
  }

  .navItems {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 290px;
  }

  .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin-bottom: 33px;
    background-color: #f9a109;
    border-radius: 50%;

    .quantity {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 15px;
      width: 15px;
      position: absolute;
      bottom: 60px;
      left: 38px;
      background-color: red;
      color: white;
      font-size: 0.6rem;
      border-radius: 4px;
    }
  }
}
